body{
    background-color: hsl(212, 45%, 89%) ;
    text-align: center;
    margin: 20px;
    font-family: 'Outfit', sans-serif;
}
h3{
    margin-top: 2px;
    font-size: 13px;
}
p{
    font-size: 10px;
    color: rgb(203, 202, 202);
}
.attribution {
     font-size: 11px;
      text-align: center;
      margin-top: 20px; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); }
.div1{
    background-color: hsl(0, 0%, 100%);
    width: 12.5rem;
    height: 20rem;
    padding: 5px;
    margin: 0 auto 0 auto;
    border-radius: 4%;
}